doctype html
html
  head
    include ./include/head.jade
  body
    .container-fluid
      // Main row for the page
      .row
        // Column for the sidebar
        include ./include/sidebar.jade
        // Column for the content
        .col-xs-12.col-sm-10.col-sm-offset-2#page-content
          form(action='register', method='post')
            .form-group
              label(for='username') Username
              input.form-control#username(type='text', name='username')
            .form-group
              label(for='password') Password
              input.form-control#password(type='password', name='password')
            .form-group
              label(for='email') Email
              input.form-control#email(type='email', name='email')
            button.btn.btn-default(type='submit') Register
    include ./include/foot.jade